<!DOCTYPE configuration>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<appender name="DailyFileRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/app/tomcat/log/goinmul/worker.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/app/tomcat/log/goinmul/worker.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %level [%thread] [%logger:%line] ::: %msg%n</pattern>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="DailyFileRolling" />
	</root>

	<logger name="org.springframework" level="INFO"/>
	<logger name="org.hibernate" level="INFO"/>
	<logger name="org.apache" level="INFO"/>

	<logger name="com.bysssss" level="INFO"/>
</configuration>